.panel-border {
    border-color: #f50f35;
}

.custom-bg {
    background-color: transparent;
}

.big-ic {
    font-size: 20px;
}

.ibox-scroll {
    overflow: auto;
    height: 70vh;
}

.ibox-content {
    padding: 0;
}

.ibox-heading {
    padding: 5px 30px;
}

.feed-element {
    padding: 10px;
    margin: 0;
}

.new-feed-element {
    background-color: #cfc3c5
}

.feed-element:hover {
    background-color: #eeecec;
}

.feed-element-active {
    padding: 10px;
    margin: 0;
    background-color: #365899;
    color: white;
}

.small-chat-bo {
    display: block;
    margin: 0 0 0 0;
    height: 100%;
    border: 1px solid #e7eaec;
}

.small-chat-bo.ng-small-chat {
    display: block;
}

.body-small .small-chat-bo {
    bottom: 70px;
    right: 20px;
}

.small-chat-bo.active {
    display: block;
}

.small-chat-bo .heading {
    background: #2f4050;
    padding: 8px 15px;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
}

.small-chat-bo .chat-date {
    opacity: 0.6;
    font-size: 10px;
    font-weight: normal;
}

.small-chat-bo .content {
    padding: 15px 15px;
    overflow: auto;
    height: 70vh;
    background-color: white;
}

.small-chat-bo .content .chat-content {
    position: relative;
    top: 100%;
    transform: translateY(-100%);
    display: block;
}

.small-chat-bo .content .author-name {
    font-weight: bold;
    margin-bottom: 3px;
    font-size: 11px;
}

.small-chat-bo .content>div {
    padding-bottom: 20px;
}

.small-chat-bo .content .chat-message {
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 13px;
    font-family: helvetica, arial, sans-serif;
    line-height: 14px;
    max-width: 70%;
    background: #f3f3f4;
    margin-bottom: 10px;
}

.small-chat-bo .content .chat-message.active {
    background: #1ab394;
    color: #fff;
}

.small-chat-bo .content .left {
    text-align: left;
    clear: both;
}

.small-chat-bo .content .left .chat-message {
    float: left;
}

.small-chat-bo .content .right {
    text-align: right;
    clear: both;
}

.small-chat-bo .content .right .chat-message {
    float: right;
}

.small-chat-bo .form-chat {
    padding: 10px 10px;
}

.md-skin .wrapper-content {
    padding: 10px 0px 10px;
}

.cust-tab {
    padding: 7px 20px 7px 25px !important;
}

.chat-date-separator {
    border-top: 1px solid #e8e8e8;
    color: #bec2c9;
    font-size: 11px;
    margin: 17px 20px 2px;
    text-align: center;
}

.chat-date-separator .timestamp {
    background-color: #fff;
    padding: 0 5px;
    position: relative;
    top: -8px;
}

.information {
    padding: 0;
    border: 2px solid #e7eaec;
    background-color: white;
}

.dataTables_wrapper {
    padding-bottom: 0;
}
