
@{
    ViewBag.Title = "Quản lý chung";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section CustomCSS {
    @Styles.Render("~/Toastr-style")
    @Styles.Render("~/SweetAlert-CSS")
    
}
<div class="ibox-content">
    
</div>
<!--modal-->

@section CustomJS {
    @Scripts.Render("~/Toastr")    
    @Scripts.Render("~/SweetAlert-JS")
    <script>        

    </script>
}

