
@{
    ViewBag.Title = "Cài đặt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section CustomCSS {

}

<div class="wrapper wrapper-content">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <form>

                </form>
            </div>
        </div>
    </div>
</div>

@section CustomJS {

}        
