
@{
    ViewBag.Title = "Cài đặt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section CustomCSS {

}

<div class="wrapper wrapper-content">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Những mẫu câu cơ bản</h5>
            </div>
            <div class="ibox-content">
                <fieldset class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Câu chào:</label>
                        <div class="col-sm-10"><input type="text" id="chaohoi"  class="form-control" placeholder="Vd: Shop chúng tôi hoan nghênh bạn" /></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Địa chỉ liên lạc:</label>
                        <div class="col-sm-10"><input type="text" id="dcll" class="form-control" placeholder="Vd: Bạn có thể ghé thăm chúng tôi tại .." /></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Điện thoại:</label>
                        <div class="col-sm-10"><input type="text" id="dt" class="form-control" placeholder="Vd: Bạn có thể liên lạc chúng tôi thông qua số ..." /></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Tài khoản ngân hàng:</label>
                        <div class="col-sm-10"><input type="text" id="tk" class="form-control" placeholder="Vd: Bạn có thể chuyển tiền đến số tài khoản ..." /></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Báo giá:</label>
                        <div class="col-sm-10"><input type="text" id="sp.gia" class="form-control" placeholder="Vd: Sản phẩm _sp_ có giá _gia_" /></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Báo tình trạng:</label>
                        <div class="col-sm-10"><input type="text" id="sp.conhang" class="form-control" placeholder="Vd: Sản phẩm _sp_ _conhang_" /></div>
                    </div>                    
                </fieldset>
            </div>
        </div>
    </div>
</div>

@section CustomJS {

}        
